<!DOCTYPE html>
<html lang="en" ng-app="atis.module">
<head>
    <meta charset="UTF-8">
    <title>Coding Examples</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="atis-vbar.css"/>
    <style>
        .main-content-wrapper {
            position: fixed;
            left: 300px;
            right: 0;
            top: 0;
            bottom: 0;
        }

        ul  {
            list-style: none;
        }
    </style>
</head>
<body ng-controller="MainController as main">
    <div atis-vbar="testHbar" default="home" animate="true">
        <div vbar-card="home">
            <div vbar-section="Home">
                <div vbar-link="preferences" animate="true" arrow="right">Preferences</div>
                <div vbar-link="tools" animate="true" arrow="right">Tools</div>
                <div vbar-item="logout">Logout</div>
            </div>
        </div>

        <div vbar-card="preferences">
            <div vbar-section="Preferences">
                <div vbar-back="" vbar-link="home" animate="true"></div>
            </div>
        </div>

        <div vbar-card="tools">
            <div vbar-section="Tools">
                <div vbar-back="" vbar-link="home" animate="true"></div>
                <div vbar-link="submenu1" animate="true" arrow="right">Submenu 1</div>
            </div>
        </div>

        <div vbar-card="submenu1">
            <div vbar-section="Sub Menu 1">
                <div vbar-back="" vbar-link="tools" animate="true"></div>
                <div vbar-link="submenu2" animate="true" arrow="right">Sub Menu 2</div>
            </div>
        </div>

        <div vbar-card="submenu2">
            <div vbar-section="Sub Menu 2">
                <div vbar-back="" vbar-link="submenu1" animate="true"></div>
                <div vbar-link="submenu3" animate="true" arrow="right">Sub Menu 3</div>
            </div>
        </div>

        <div vbar-card="submenu3">
            <div vbar-section="Sub Menu 3">
                <div vbar-back="" vbar-link="submenu2" animate="true"></div>
                <div vbar-link="submenu4" animate="true" arrow="right">Sub Menu 4</div>
            </div>
        </div>

        <div vbar-card="submenu4">
            <div vbar-section="Sub Menu 4">
                <div vbar-back="" vbar-link="submenu3" animate="true"></div>
            </div>
        </div>
    </div>
    <div class="main-content-wrapper">
        <button ng-click="main.toggleMenu();">Toggle Menu</button>
        <button ng-click="main.toggleMsg();">Toggle Message</button>
        <div id="block1" class="block a">Some random text</div>
        <ul>
            <li>
                <label>Bleh 1</label>
                <div>Some random text 1</div>
            </li>
            <li>
                <label>Bleh 2</label>
                <div>Some random text 2</div>
            </li>
            <li>
                <label>Bleh 3</label>
                <div>Some random text 3</div>
            </li>
            <li>
                <label>Bleh 4</label>
                <div>Some random text 4</div>
            </li>
            <li>
                <label>Bleh 5</label>
                <div>Some random text 5</div>
            </li>
            <li>
                <label>Bleh 6</label>
                <div>Some random text 6</div>
            </li>
            <li>
                <label>Bleh 7</label>
                <div>Some random text 7</div>
            </li>
            <li>
                <label>Bleh 8</label>
                <div>Some random text 8</div>
            </li>
            <li>
                <label>Bleh 9</label>
                <div>Some random text 9</div>
            </li>
            <li>
                <label>Bleh 10</label>
                <div>Some random text 10</div>
            </li>
        </ul>
    </div>

    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="Transition.js"></script>
    <script type="text/javascript" src="TransitionAnimations.js"></script>
    <script type="text/javascript">
        angular.module('atis.module', [])
                .provider('Store', function() {
                    function Store() {

                    }

                    Store.prototype.put = put;
                    Store.prototype.get = get;
                    Store.prototype.remove = remove;
                    Store.prototype.state = state;

                    this.$get = [function() {
                        return Store;
                    }];

                    function state(obj) {
                        for(var prop in obj) {
                            this[prop] = obj[prop];
                        }
                    }

                    function put(keys, value) {
                        if(keys) {
                            var keys = keys.split('.');
                            _find.call(this, keys, true)[keys.slice(-1)] = value;
                        } else {
                            this[keys] = value;
                        }
                    }

                    function get(keys) {
                        var keys = keys.split('.');
                        return _find.call(this, keys)[keys.slice(-1)];
                    }

                    function remove(keys) {
                        var keys = keys.split('.');
                        delete _find.call(this, keys)[keys.slice(-1)];
                    }

                    function _find(array, put) {
                        var value = this;

                        for(var i = 0; i < array.length; i++) {
                            if(i+1 === array.length) { break; }
                            if(put && value[array[i]] === undefined) {
                                value[array[i]] = {};
                            }

                            value = value[array[i]];
                        }

                        return value;
                    }
                })
                .controller('MainController', function(VbarService, Store) {
                    var main = this;

                    var MAIN_STORE = 'MainStore';
                    var store = new Store();

                    store.state({
                        testNesting: {
                            nestOne: {
                                nestTwo: {
                                    name: 'Nest Two',
                                    nestThree: {
                                        name: 'Nest Three',
                                        nestFour: {
                                            name: 'Nest Four'
                                        }
                                    }
                                }
                            }
                        },
                        labels: document.querySelectorAll('li>label'),
                        divs: document.querySelectorAll('li>div'),
                        testElement: document.querySelector('#block1')
                    });

                    console.log(store);
                    console.log(store.get('testNesting.nestOne.nestTwo.nestThree.nestFour'));
                    store.put('testNesting.nestOne.name', 'Added name to nestOne');
                    console.log(store.get('testNesting.nestOne.name'));
                    store.remove('testNesting.nestOne.name');
                    console.log(store.get('testNesting.nestOne.name'));
                    store.put('something.random.goes.here', 'Woot!');

                    main.toggleMenu = toggleMenu;

//                    var transition = Transition(document.getElementById('block1'));
//                    transition.duration(250).timingFunction('ease-out').animations().reveal(0);

                    var lis = document.querySelectorAll('li>label');
                    var divs = document.querySelectorAll('li>div');
                    var testElement = document.querySelector('#block1');

                    Transition.stagger(divs, 150, 50, 500, 'ease', -100, 0, 0)
                    Transition.stagger(lis, 0, 50, 300, 'ease', -100, 0, 0);

                    main.msgVisible = true;

                    addClass(testElement, 'a-in');

                    setTimeout(function() {
                        addClass(testElement, 'a-active');
                    }, 0);

                    main.toggleMsg = function() {
                        if(main.msgVisible) {
                            main.msgVisible = false;
                            cleanupAll(testElement, 'a');
                            addClass(testElement, 'a-out');

                            setTimeout(function() {
                                addClass(testElement, 'a-active');
                            }, 0);
                        } else {
                            main.msgVisible = true;
                            cleanupAll(testElement, 'a');
                            addClass(testElement, 'a-in');

                            setTimeout(function() {
                                addClass(testElement, 'a-active');
                            }, 0);
                            addClass(testElement, 'a-active');

//                            preventAnimation(testElement, 'a-in');
//                            addClass(testElement, 'a-in');
//
//                            clearInlineStyles(testElement);
//                            addClass(testElement, 'a-active');
//
//                            duration = getDuration(testElement);
//                            setDelay(testElement, duration);
//                            addClass(testElement, 'slideRight');
//
//                            duration = getDuration(testElement);
//
//                            setTimeout(function() {
//                                clearInlineStyles(testElement);
//                                removeClass(testElement, 'slideRight');
//                            }, getDurationMS(duration));
                        }
                    };

                    function toggleMenu() {
                        var menu = VbarService.get('testHbar'),
                            wrapper = Transition(document.querySelector('.main-content-wrapper')),
                            endPoint = menu.isOpen ? -300 : 0;

                        wrapper.duration(300).timingFunction('ease-out').move(endPoint, 0, 0);
                        menu.toggle(300);
                    }
                });
    </script>
    <script type="text/javascript" src="atis-vbar-service.js"></script>
    <script type="text/javascript" src="atis-vbar.js"></script>
</body>
</html>